<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Servicii</a></li>
          <li><a href="#">Articole</a></li>
          <li><a href="#">Despre mine</a></li>
          <li><a href="#">Programare</a></li>
          <li><a href="#">Contac123t</a></li>
        </ul>
      </div>



    </div>
    <!-- Here we use the Google Embed API to show Google Maps. -->
    <!-- In order for this to work in your project you will need to generate a unique API key.  -->
    <iframe id="map-container" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOwg_06VPwokRYv534QaPC8g&key=AIzaSyBfq-f3_3xkITjfcaOcqwCVD-BY_KTG234 "></iframe>
  </div>
  <div class="social-networks">
    <a href="#" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Psihoterapie </p>
  </div>
</footer>
