<div class="navigation-menu">

  <button mat-button [matMenuTriggerFor]="menu" id="navigation-menu-home">
    Meniu
    <i class="fas fa-bars"></i>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item><a href="#">Servicii</a></button>
    <button mat-menu-item><a href="#">Articole</a></button>
    <button mat-menu-item><a href="#">Despre mine</a></button>
    <button mat-menu-item><a href="#">Programare</a></button>
    <button mat-menu-item><a href="#">Contact</a></button>
  </mat-menu>

</div>

<div class="up-content">


  <h1 id="up-content-h1">Psihoterapie</h1>
</div>
