<div class="navigation-menu">

  <button mat-button [matMenuTriggerFor]="menu" id="navigation-menu-home">
    Meniu
    <i class="fas fa-bars"></i>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="">Home</a></button>
    <button mat-menu-item><a routerLink="/servicii">Servicii</a></button>
    <button mat-menu-item><a routerLink="/articole">Articole</a></button>
    <button mat-menu-item><a routerLink="/despremine">Despre mine</a></button>
    <button mat-menu-item><a routerLink="/programare">Programare</a></button>
    <button mat-menu-item><a routerLink="/contact">Contact</a></button>
  </mat-menu>
</div>

<div class="login">
  <button type="button" class="btn btn-light" id="login-text"><a routerLink="/login">Login</a></button>
</div>

<div class="up-content">


  <h1 id="up-content-h1">Psihoterapie</h1>
</div>
