<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container">

      <div class="row">
        <div>
          <div class="home_content">
            <img src="https://static.wixstatic.com/media/8b189f_e044fd1f1b244762b73cc114a3cb9b90~mv2.jpg" id="mind-image" width="480" height="300" align="left" />
            <h3 id="description_text">
              Psihoterapia constă într-o serie de tehnici care au că scop  tratarea sănătățîi mentale, emoționale, precum și unele afecțiuni psihiatrice. Psihoterapia ajută pacientul să înțeleagă care sunt factorii ce le determina stările și îi ajută să accepte punctele slabe, dar și cele forțe. Dacă oamenii își pot identifica sentimentele și modalitatea în care percep viață, le este mai ușor să facă față situațiilor dificile.Psihoterapia este frecvent utilizată pentru problemele care se acumulează de-a lungul timpului. Această funcționează numai în cazul în care se construiește o relație de încredere între pacient și psihoterapeut.
            </h3>
          </div>


          <h4 id="main-text-content">
            Unii oameni se referă la psihoterapie că fiind "tratamentul prin vorbire" deoarece se bazează pe comunicarea dintre psihotrerapeut și un grup de persoane cu probleme similare. Unele forme de psihoterapie folosesc și alte tipuri de comunicare, inclusiv pin scris, opere de artă, povești narative sau muzică. Sesiunile au loc în cadrul unei întâlniri structurate dintre terapeut și pacient (sau pacienți).

            Psihoterapia teoretică a devenit cunoscută în secolul 19, prin psihanaliză, dar s-a dezvoltat semnificativ de atunci.

            Un psihoterapeut poate fi un psiholog, terapeut pe probleme  de căsătorie, familie sau ocupațional, asistent social licențiat, consilier, asistență psihiatrică, psihanalist sau psihiatru.

            Una dintre problemele principale ale psihoterapiei, potrivit experților, este faptul că pacientul renunta la ședințe. Un studiu, efectuat de cercetătorii de la Northwestern University's Feinberg School of Medicine, au descoperit că atunci când pacienții fac psihoterapie pentru depresie la telefon, majoritatea continuă ședințele.
            <br /><br />
            Comunicare sau medicamente?
            <br /><br />

            Psihologii percep suferință individuală că pe un rezultat al problemelor ce apar la nivelul relațiilor interuman, și nu că un rezultat al unei tulburări persoanle. Un psiholog care se specializează în psihoterapie va lua în considerare contextul larg al relațiilor din cadrul familiei sau de la locul de muncă. Psihiatrii tind să aibă o abordare medicală asupra sănătății mentale și sunt înclinați să prescrie medicamente pentru a atenua stresul.

            Majoritatea psihologilor afirmă că abordările medicale vizează suferință că pe un simptom al unei afecțiuni, așa cum văd și simptomele problemelor fizice. Prin urmare, un psihiatru sau un neurolog vor stabili un diagnostic (ex: tulburare obsesiv compulsivă, depresie, tulburare post-traumatică) și vor prescrie medicamente, că apoi să recomande și o eventuală intervenție psihologică.

            Numeroase studii au demonstrat că cele mai eficiente tratamente pentru boli mentale, în mod special depresia, implică o combinație de medicamente și psihoterapie.
            Asociația Americană de Psihiatrie a explicat că "multe probleme de sănătate pot fi rezolvate doar prin psihoterapie, această fiind o componentă crucială în succesul tratamentului cu medicamente".
          </h4>
        </div>
      </div>
     
    </div>

</body>
</html>
