.container{
  margin-bottom:30px;
}
#description_text {
  font-size: 20px;
  text-align:justify;
  font-family: 'Source Sans Pro', sans-serif;
}

#main-text-content {
  font-size: 17px;
  text-align:justify;
  font-family: 'Source Sans Pro', sans-serif;
}

#mind-image {
  margin-right: 15px;
}

#card-title-text {
  font-size: 28px;
  font-family: 'Noto Serif', serif;
}
.card-text-content {
  font-size: 26px;
  font-family: 'Noto Serif', serif;
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
