.card{
  margin-bottom: 30px;
  padding :5px 15px;
}
.article-title {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
}
.post-info{
  font-size:20px;
  color:black;
  margin-left:auto;
}
.card-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px ;
  color: black;
  text-align: justify;
}
