<div class="container">
  <div class="row">

    <div class="col-lg-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://scripteden.com/">Anna Lee</a>
          </div>
          <div class="desc">Psiholog</div>
          <div class="desc">Psihoterapeut</div>
          <div class="desc">Psihoimunoneurologie</div>
        </div>
      </div>
    </div>

    <div class="col-md-1" id="text-content">
      <h4 id="header-text">Pregatire profesionala</h4>
      
    </div>

  </div>


</div>
