.container {
  padding: 5%;
}

  .container .img {
    text-align: center;
  }

  .container .details {
    border-left: 3px solid #ded4da;
  }

    .container .details p {
      font-size: 15px;
      font-weight: bold;
    }

#bottom-text{
  margin:20px;
  margin-left:38px; 
}

#bottom-text h3{
  font-size:25px;
}

#bottom-list{
  margin:15px;
}

#list-text {
  font-size: 15px;
  font-family: 'Merriweather', serif;
}
