<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q" alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>Scarlet Johansson</h5>
        <small><cite title="Source Title">Psihoterapeut <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        Colegiul Psihologilor din România <br>
        Facultatea de Psihologie şi Ştiințe ale Educaţiei <br>
        Formator acreditat CNFPA
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="bottom-text">
    <h3>Pregătire profesională</h3>
  </div>

  <div class="row" id="bottom-list">
    <ol>
      <li id="list-text">
        Psiholog  atestat de Colegiul Psihologilor din România în specializarea
        Psihoterapii cognitive şi comportamentale
      </li>
      <li id="list-text">
        Psiholog  atestat de Colegiul Psihologilor din România în specializarea
        Psihologie clinică
      </li>
      <li id="list-text">
        Masteratul de Psihologie Clinică, Consiliere Psihologică şi Psihoterapie,
        Facultatea de Psihologie şi Ştiințe ale Educaţiei, Universitatea Babes-Bolyai
      </li>
      <li id="list-text">
        Facultatea de Psihologie şi Ştiinte ale Educaţiei, specializarea Psihologie, Universitatea Babes-Bolya
      </li>
      <li id="list-text">
        Facultatea de Sociologie şi Asistenţă socială, specializarea Antropologie, Universitatea Babes-Bolyai
      </li>
      <li id="list-text">
        Formator acreditat CNFPA
      </li>
      <li id="list-text">
        Participare la Workshop-ul  Mistakes in the practice of REBT and
        how to avoid making them
      </li>
      <li id="list-text">
        Participare la cursul Abuzul sexual
      </li>
      <li id="list-text">
        Participare la cursul Managementul disfuncțiilor sexuale și sex-terapia
      </li>
      <li id="list-text">
        Participare la cursul Mindfulness
      </li>
      <li id="list-text">
        Participare la cursul Al treilea val de Tehnici de Restructurare Cognitivă
      </li>
      <li id="list-text">
        Colaborare cu Asociația "DOG ASSIST"
      </li>
      <li id="list-text">
        Colaborare cu Asociația "Pro IBD Ses"
        Centrul de zi pentru pensionari (Magoaja)
      </li>
      <li id="list-text">
        Participare la Academia Română - Zilele Academice Clujene, cu lucrarea
        "Intervențiile asistate de animale și aplicabilitatea lor
        în cazul depresiei majore și anxietății sociale"
      </li>
      <li id="list-text">
        Participare la Academia Română - Conferința Națională
        Testarea psihologică: Actualități și perspective, cu lucrarea
        "Terapie asistată de animale - Noțiuni introductive "
      </li>
      <li id="list-text">
        Publicarea lucrării "Intervențiile asistate de animale și aplicabilitatea lor
        în cazul depresiei majore și anxietății sociale"
      </li>
      <li id="list-text">
        Participare la Academia Română - Conferința Națională
        Testarea psihologică: Actualități și perspective, cu lucrarea
        "Terapie asistată de animale - Noțiuni introductive "
      </li>
      <li id="list-text">
        Publicarea lucrării "Intervențiile asistate de animale și aplicabilitatea lor
        în cazul depresiei majore și anxietății sociale"
        - Studiu de caz, în Studii și cercetări din domeniul științelor socio-umane
        (Volumul 29), publicată de Academia Română în 2016
      </li>
      <li id="list-text">
        Coordonarea şedinţelor de terapie asistatã de animale pentru un grup de
        persoane cu Alzheimer (proiect realizat de Asociaţia Dog Assist, în colaborare
        cu Centrul Comunitar Judeţean)
      </li>
    </ol>
  </div>
</div>
