<nav style="margin-bottom:20px">
  <button mat-button [matMenuTriggerFor]="beforeMenu">Admin Menu</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item><a routerLink="/admin-home">Home</a></button>
    <button mat-menu-item><a routerLink="/admin-message">Mesaje</a></button>
    <button mat-menu-item><a routerLink="/admin-appointment">Programari</a></button>
    <button mat-menu-item><a routerLink="/admin-archive">Lista Pacienti</a></button>
  </mat-menu>
</nav>


<div>
  <h3 class="title-h3">Arhiva Pacienti</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="table-sizing">#</th>
      <th scope="col" class="table-sizing">Nume</th>
      <th scope="col" class="table-sizing">Prenume</th>
      <th scope="col" class="table-sizing">Email</th>
      <th scope="col" class="table-sizing">Telefon</th>
      <th scope="col" class="table-sizing">Personal Record Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="table-sizing">1</th>
      <td class="table-sizing">Ion</td>
      <td class="table-sizing">Vasile</td>
      <td class="table-sizing">vasile.ion@uoradea.com</td>
      <td class="table-sizing">0711223344</td>
      <td class="table-sizing">Link</td>
    </tr>
    <tr>
      <th scope="row" class="table-sizing">2</th>
      <td class="table-sizing">Thor</td>
      <td class="table-sizing">Odin</td>
      <td class="table-sizing">thor@asgard.com</td>
      <td class="table-sizing">0711223344</td>
      <td class="table-sizing">Link</td>
    </tr>
    <tr>
      <th scope="row" class="table-sizing">3</th>
      <td class="table-sizing">Marian</td>
      <td class="table-sizing">Ionut</td>
      <td class="table-sizing">marian@ionut.ro</td>
      <td class="table-sizing">0711223344</td>
      <td class="table-sizing">Link</td>
    </tr>
    <tr>
      <th scope="row" class="table-sizing">4</th>
      <td class="table-sizing">Doctor</td>
      <td class="table-sizing">Strange</td>
      <td class="table-sizing">doctorstrange@khatmnadu.com</td>
      <td class="table-sizing">0711223344</td>
      <td class="table-sizing">Link</td>
    </tr>
  </tbody>
</table>
