<h4 class="title">Servicii</h4>
<div class="container">
  <mat-list role="list">
    <mat-list-item role="listitem" class="list-text">Psihodiagnostic şi evaluare clinică</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Terapie asistată de animale</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Evaluare cognitivă</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Evaluare comportamentală</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Evaluare psihologică periodică</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Evaluarea gradului de stres</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Consiliere persoane însărcinate, pre și post natal</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Intervenţie psihologică de grup</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Consiliere psihologică</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Psihoterapie individuală copii/adulți</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Psihoterapie de cuplu</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Psihoterapie cognitiv comportamentală</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Psihoterapie pozitivă</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Intervenţie psihologică în situații de criză</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Training autogen</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Intervenţie psihologică pentru diverse dependențe</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Parenting și consiliere parentală</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Workshop-uri/Training-uri</mat-list-item>
    <mat-list-item role="listitem" class="list-text">Dezvoltare personală</mat-list-item>
  </mat-list>

  <h4 class="title">Tarife</h4>
  <div>
    <mat-list role="list">
      <mat-list-item role="listitem" class="list-text">Psihoterapie individuală, consiliere psihologică, dezvoltare personală (50 min) - 100 lei</mat-list-item>
      <mat-list-item role="listitem" class="list-text">Studenții, șomerii și pensionarii beneficiază de un preț diferențiat - 70 lei</mat-list-item>
      <mat-list-item role="listitem" class="list-text">Terapie asistată de animale (60 min) - 160 lei</mat-list-item>
      <mat-list-item role="listitem" class="list-text">Terapie de cuplu (90 min) - 150 lei</mat-list-item>
    </mat-list>
  </div>
